select{
    border-radius:10px;
    padding:5px;
    outline:none;
}
select:active{
    outline:none;
}

.shipping-select > h4{
    text-align: end;
    font-weight:450;
    font-size:20px;
    
}