.product-container{
    /*border:lightgray solid 1px;*/
    border-radius:5px;
    display: flex;
    flex-direction: column;
    height:auto;
    justify-items: center;
    text-align: center;
    justify-content: center;
}

.product-text{
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-items: center;
    text-align: start;
    margin-bottom:auto;
}
.img-top{
    object-fit:cover;
    width:100%;
    height:200px;
    border-radius:4px 4px 0px 0px;
}

.image-link{
  /*margin-bottom:auto;*/
}
.product-price{
  
}
.cart-btn{
    width:90%;
    height:40px;
    background-color: rgb(255, 153, 0);
    padding:10px;
    border-radius: 5px;
    margin-top:auto;
    margin-bottom: 15px;
    margin-left:auto;
    margin-right: auto;
    
}

.cart-btn:active{
    background-color: rgb(255, 192, 98);
}
.fade-enter {
    opacity: 0.01;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in;
  }
  
  .fade-leave {
    opacity: 1;
  }
  
  .fade-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease-in;
  }